body {
  font-size: $f18;
  line-height: 1.5;
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Noto Sans TC", sans-serif;
  overflow-x: hidden;

  @include rwd1024{
    font-size: 0.875rem;
  }
}

.fishBox {
  display: flex;
  flex-shrink: 0;
  width: clamp(9.6px,0.9375vw,18px);
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  margin: 0 clamp(9.6px,0.9375vw,18px);

  @include rwd1024{
    width: 14px;
    margin: 0 14px;
  }

  svg {
    width: clamp(9.6px,0.9375vw,18px);
    height: clamp(9.6px,0.9375vw,18px);
    flex-shrink: 0;
    flex-grow: 1;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);

    @include rwd1024{
      width: 14px;
      height: 14px;
    }

    &:nth-child(1) {
      animation: fishIn 0.3s ease forwards;
    }

    &:nth-child(2) {
      animation: fishOut 0.3s ease forwards;
    }

    * {
      transition: $tf;
    }
  }
}

.btnBox {
  display: flex;

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(106.66px, 10.4166vw, 200px);
    aspect-ratio: 380/100;
    background: #fff;
    border-radius: clamp(19.2px,1.875vw,36px);
    position: relative;
    overflow: hidden;
    gap: 0 clamp(8.53px,0.8333vw,16px);

    @include rwd1024{
      width: 200px;
      border-radius: 36px;
      gap: 0 16px;
    }

    &:hover {
      &::before {
        transform: translateY(0%);
      }

      p {
        color: #fff;
      }

      .fishBox {
        svg {
          &:nth-child(1) {
            animation: fishOut 0.3s ease forwards;
          }

          &:nth-child(2) {
            animation: fishIn 0.3s ease forwards;
          }

          * {
            fill: $mainLight;
          }
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -25%;
      left: -25%;
      width: 150%;
      height: 150%;
      background: $main;
      z-index: 0;
      border-radius: 40%;
      transform: translateY(100%);
      transition: $ttf;
    }

    &.size-l{
      width: clamp(160px,15.625vw,300px);

      @include rwd1024{
        width: 300px;
      }
    }

    p {
      font-size: $f20;
      color: $main;
      position: relative;
      z-index: 1;
      transition: $tc;
      font-weight: 500;

      @include rwd1024{
        font-size: 1rem;
      }
    }

    .fishBox{
      margin: 0;
    }
  }
}
