body {
  font-size: $f18;
  line-height: 1.5;
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Noto Sans TC", sans-serif;
  overflow-x: hidden;

  @include rwd1024 {
    font-size: 1rem;
  }

  &:has(.lightBox.focus) {
    overflow: hidden;
  }
}

.link {
  color: $mainLight;
  text-decoration: underline;
}

.fishBox {
  display: flex;
  flex-shrink: 0;
  width: clamp(9.6px, 0.9375vw, 18px);
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  margin: 0 clamp(9.6px, 0.9375vw, 18px);

  @include rwd1024 {
    width: 16px;
    margin: 0 16px;
  }

  svg {
    width: clamp(9.6px, 0.9375vw, 18px);
    height: clamp(9.6px, 0.9375vw, 18px);
    flex-shrink: 0;
    flex-grow: 1;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);

    @include rwd1024 {
      width: 16px;
      height: 16px;
    }

    &:nth-child(1) {
      animation: fishIn 0.3s ease forwards;
    }

    &:nth-child(2) {
      animation: fishOut 0.3s ease forwards;
    }

    * {
      transition: $tf;
    }
  }
}

.btnBox {
  display: flex;

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: clamp(106.66px, 10.4166vw, 200px);
    aspect-ratio: 380/100;
    background: #fff;
    border-radius: clamp(19.2px, 1.875vw, 36px);
    position: relative;
    overflow: hidden;
    gap: 0 clamp(8.53px, 0.8333vw, 16px);
    padding: 0 clamp(8.53px, 0.8333vw, 16px);

    @include rwd1024 {
      min-width: 200px;
      border-radius: 36px;
      gap: 0 16px;
      aspect-ratio: 380/ 80;
      padding: 0 16px;
    }

    &:hover {
      &::before {
        transform: translateY(0%);
      }

      p {
        color: #fff;
      }

      .fishBox {
        svg {
          &:nth-child(1) {
            animation: fishOut 0.3s ease forwards;
          }

          &:nth-child(2) {
            animation: fishIn 0.3s ease forwards;
          }

          * {
            fill: $mainLight;
          }
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -25%;
      left: -25%;
      width: 150%;
      height: 150%;
      background: $main;
      z-index: 0;
      border-radius: 40%;
      transform: translateY(100%);
      transition: $ttf;
    }

    &.size-l {
      width: clamp(160px, 15.625vw, 300px);

      @include rwd1024 {
        width: 300px;
      }
    }

    &.deep {
      background: $main;
      border: 1px solid $main;

      &:hover {
        p {
          color: $main;
        }
      }

      &::before {
        background: #fff;
      }

      p {
        color: #fff;
      }

      .fishBox {
        margin: 0;

        * {
          fill: #fff;
        }
      }
    }

    p {
      font-size: $f20;
      color: $main;
      position: relative;
      z-index: 1;
      transition: $tc;
      font-weight: 500;

      @include rwd1024 {
        font-size: 1.25rem;
      }
    }

    .fishBox {
      margin: 0;
    }
  }
}

.lightBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 105;
  pointer-events: none;

  &.focus {
    *,
    &::before {
      opacity: 1;
      pointer-events: all;
    }
  }

  *,
  &::before {
    opacity: 0;
    pointer-events: none;
    transition: $to;
  }

  &::before {
    content: "";
    background: rgba(#000, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .lightContent {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    min-width: 80vw;
    min-height: 50vh;
    max-height: calc(100vh - 64px);
    overflow-y: auto;
    z-index: 1;
    border-radius: clamp(17.06px, 1.6666vw, 32px);
    padding: clamp(38.4px, 3.75vw, 72px) clamp(12.8px, 1.25vw, 24px)
      clamp(17.06px, 1.6666vw, 32px);

    @include rwd1024 {
      width: calc(100% - 32px);
      min-width: none;
      min-height: auto;
      border-radius: 16px;
      padding: 40px 16px 24px;
    }

    &:has(.lightNewsBox) {
      min-width: auto;
    }

    .close {
      display: inline-flex;
      width: clamp(12.8px, 1.25vw, 24px);
      aspect-ratio: 1/1;
      position: absolute;
      right: clamp(17.06px, 1.6666vw, 32px);
      top: clamp(17.06px, 1.6666vw, 32px);

      @include rwd1024 {
        width: 20px;
        top: 16px;
        right: 16px;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        background: $main;
        width: 100%;
        height: clamp(2.13px, 0.2083vw, 4px);
        top: 50%;
        left: 0;

        @include rwd1024 {
          height: 2px;
        }
      }

      &::before {
        transform: translateY(-50%) rotate(45deg);
      }

      &::after {
        transform: translateY(-50%) rotate(-45deg);
      }
    }

    .lightNewsBox {
      .title {
        font-size: $f32;
        text-align: center;
        font-weight: 600;
        color: $main;

        @include rwd1024 {
          font-size: 1.5rem;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: clamp(4.26px, 0.4166vw, 8px) 0;
        margin: clamp(21.33px, 2.0833vw, 40px) 0;

        @include rwd1024 {
          gap: 8px 0;
          margin: 40px 0;
        }

        li {
          font-size: $f20;
          display: flex;

          @include rwd1024 {
            font-size: 1.25rem;
          }

          b {
            font-weight: 500;
            color: $main;
            word-break: keep-all;
          }
        }
      }

      .btnBox {
        justify-content: center;
      }
    }

    .lightForm {
      display: flex;
      flex-direction: column;
      gap: clamp(8.53px, 0.8333vw, 16px) 0;

      @include rwd1024 {
        gap: 20px 0;
      }

      label {
        display: flex;
        flex-direction: column;
        gap: clamp(4.26px, 0.4166vw, 8px) 0;

        @include rwd1024 {
          gap: 8px 0;
        }

        &.error {
          input,
          select {
            border-color: #c82525;
          }

          b {
            display: block;
          }
        }

        span {
          color: $main;
          font-size: $f20;
          font-weight: 500;

          @include rwd1024 {
            font-size: 1.125rem;
          }

          &::after {
            content: "*";
            color: #c82525;
          }
        }

        b {
          color: #c82525;
          font-size: $f16;
          display: none;

          @include rwd1024 {
            font-size: 0.875rem;
          }
        }

        input,
        select {
          appearance: none;
          border: 2px solid $main;
          border-radius: clamp(4.26px, 0.4166vw, 8px);
          padding: clamp(8.53px, 0.8333vw, 16px) clamp(4.26px, 0.4166vw, 8px);
          color: $main;
          font-size: $f18;

          @include rwd1024 {
            font-size: 1rem;
            border-radius: 8px;
            padding: 16px 8px;
          }

          &:focus {
            outline: none;
          }
        }

        .selectContent {
          display: flex;
          position: relative;

          &::before {
            content: "";
            background: url(@/assets/images/icon/chevron-down-solid.svg);
            position: absolute;
            width: clamp(10.66px, 1.0416vw, 20px);
            aspect-ratio: 1/1;
            top: 50%;
            right: clamp(8.53px, 0.8333vw, 16px);
            transform: translateY(-50%);

            @include rwd1024 {
              width: 18px;
              right: 16px;
            }
          }

          select {
            width: 100%;
            padding-right: clamp(21.33px, 2.0833vw, 40px);

            @include rwd1024 {
              padding-right: 36px;
            }
          }
        }
      }

      .btnBox {
        margin-top: clamp(21.33px, 2.0833vw, 40px);
        justify-content: center;

        @include rwd1024 {
          margin-top: 24px;
        }
      }
    }

    .lightShopBox {
      display: grid;
      grid-template-areas:
        "a b"
        "c c";
      gap: clamp(17.06px, 1.6666vw, 32px) clamp(8.53px, 0.8333vw, 16px);

      @include rwd1024 {
        display: flex;
        flex-direction: column;
        gap: 16px 0;
      }

      .model {
        width: 40vw;
        grid-area: a;

        @include rwd1024 {
          width: 100%;
          margin-top: 16px;
        }

        img {
          width: 100%;
          aspect-ratio: 1.5/1;
        }
      }

      .infoBox {
        display: flex;
        flex-direction: column;
        grid-area: b;
        gap: clamp(8.53px, 0.8333vw, 16px) 0;

        @include rwd1024 {
          gap: 16px 0;
        }

        .title {
          font-size: $f32;
          font-weight: 500;

          @include rwd1024 {
            font-size: 1.5rem;
          }
        }

        .text {
          font-size: $f20;

          @include rwd1024 {
            font-size: 1.125rem;
          }
        }
      }

      .remind {
        grid-area: c;
        color: $main;
        font-weight: 500;

        @include rwd1024 {
          margin-top: 16px;
        }
      }
    }
  }
}
