// Color
$main: #173D7A;
$mainLight: #4C84DD;

// transition
$tc: color 0.3s ease;
$to: opacity 0.3s ease;
$to5: opacity 0.5s ease;
$tt: top 0.3s ease;
$ttf: transform 0.3s ease;
$ttf5: transform 0.5s ease;

// RWD
@mixin rwd1679 {
  @media screen and (max-width: 1679px) {
    @content;
  }
}

@mixin rwd1439 {
  @media screen and (max-width: 1439px) {
    @content;
  }
}

@mixin rwd1279 {
  @media screen and (max-width: 1279px) {
    @content;
  }
}

@mixin rwd1024 {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin rwd767 {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin rwd576 {
  @media screen and (max-width: 576px) {
    @content;
  }
}
