// font
$f18: clamp(9.6px, 0.9375vw, 18px);
$f20: clamp(10.66px, 1.0416vw, 20px);
$f32: clamp(17.06px, 1.6666vw, 32px);

// color
$main: #173d7a;
$mainLight: #4c84dd;

// transition
$tc: color 0.3s ease;
$to: opacity 0.3s ease;
$to5: opacity 0.5s ease;
$tt: top 0.3s ease;
$ttf: transform 0.3s ease;
$ttf5: transform 0.5s ease;
$tf: fill 0.5s ease;
$tb: background 0.3s ease;

// RWD
@mixin rwd1679 {
  @media screen and (max-width: 1679px) {
    @content;
  }
}

@mixin rwd1439 {
  @media screen and (max-width: 1439px) {
    @content;
  }
}

@mixin rwd1279 {
  @media screen and (max-width: 1279px) {
    @content;
  }
}

@mixin rwd1024 {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin rwd767 {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin rwd576 {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@keyframes slick {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes eventHoverIn {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(-25%);
  }
}

@keyframes eventHoverOut {
  from {
    transform: translateY(-25%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes fishIn {
  from {
    transform: translate(-100%, -50%);
    opacity: 0;
  }
  to {
    transform: translate(0%, -50%);
    opacity: 1;
  }
}

@keyframes fishOut {
  from {
    transform: translate(0%, -50%);
    opacity: 1;
  }
  to {
    transform: translate(100%, -50%);
    opacity: 0;
  }
}

@keyframes photoChange {
  0% {
    background: url("@/assets/images/index/pollute_01.jpg") no-repeat;
    background-size: cover;
  }
  25% {
    background: url("@/assets/images/index/pollute_02.jpg") no-repeat;
    background-size: cover;
  }
  50% {
    background: url("@/assets/images/index/pollute_03.jpg") no-repeat;
    background-size: cover;
  }
  75% {
    background: url("@/assets/images/index/pollute_04.jpg") no-repeat;
    background-size: cover;
  }
  100% {
    background: url("@/assets/images/index/pollute_01.jpg") no-repeat;
    background-size: cover;
  }
}
