main {
  padding-top: clamp(48px, 4.6875vw, 90px);

  .mainBlock {
    width: 100vw;
    min-height: 100vh;
    padding: clamp(17.06px, 1.6666vw, 32px) clamp(8.53px, 0.8333vw, 16px);
    position: relative;

    @include rwd1024 {
      min-height: auto;
      padding: 40px 24px;
    }

    &::before {
      content: "";
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  .aboutArea {
    padding: 0;
    position: relative;

    .aboutScrollBox {
      display: flex;

      .aboutBox {
        height: 100vh;
        flex-shrink: 0;
        position: relative;

        &:nth-of-type(1) {
          width: 100vw;
          background: #000;
        }

        &:nth-of-type(2) {
          width: 200vw;
          background: #fff;
        }

        &:nth-of-type(3) {
          width: 200vw;
          background: #000;
        }
      }
    }

    .aboutBgBox {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      opacity: 0.3;

      img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100vw;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        clip-path: inset(0% 0% 0% 0%);

        &.img_01 {
          z-index: 12;
        }

        &.img_02 {
          z-index: 11;
        }

        &.img_03 {
          z-index: 10;
        }
      }
    }
  }

  .newsArea {
    position: relative;
    display: flex;

    &::before {
      background: url("@/assets/images/bg/bg_01.jpg") no-repeat;
      background-size: cover;
    }

    .imgBox {
      width: clamp(213.33px, 20.8333vw, 400px);
      padding: clamp(4.26px, 0.4166vw, 8px);
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 1;

      @include rwd1024 {
        display: none;
      }

      &.item_01 {
        top: clamp(42.66px, 4.1666vw, 80px);
        left: clamp(8.53px, 0.8333vw, 16px);
      }

      &.item_02 {
        top: clamp(12.8px, 1.25vw, 24px);
        right: clamp(17.06px, 1.6666vw, 32px);
      }

      &.item_03 {
        bottom: clamp(12.8px, 1.25vw, 24px);
        left: clamp(64px, 6.25vw, 120px);
      }

      &.item_04 {
        bottom: clamp(42.66px, 4.1666vw, 80px);
        right: clamp(64px, 6.25vw, 120px);
      }
    }

    .newsBox {
      background: #fff;
      width: clamp(533.33px, 52.0833vw, 1000px);
      border-radius: clamp(12.8px, 1.25vw, 24px);
      padding: clamp(21.33px, 2.0833vw, 40px) clamp(53.33px, 5.2083vw, 100px)
        clamp(32px, 3.125vw, 60px);
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      margin: auto;

      @include rwd1024 {
        width: 100%;
        border-radius: 24px;
        padding: 32px 24px;
      }

      .boxTitle {
        font-size: $f32;
        text-align: center;
        color: $main;
        font-weight: 600;

        @include rwd1024 {
          font-size: 1.5rem;
        }
      }

      .newsList {
        margin: clamp(12.8px, 1.25vw, 24px) auto 0;
        width: 100%;

        @include rwd1024 {
          margin: 16px 0 0;
        }

        li {
          border-bottom: 1px solid rgba(#000, 0.25);
          padding-bottom: clamp(4.26px, 0.4166vw, 8px);
          margin-bottom: clamp(4.26px, 0.4166vw, 8px);

          @include rwd1024 {
            padding-bottom: 16px;
            margin-bottom: 16px;
          }

          &:hover {
            a {
              .title {
                color: $mainLight;
              }

              .fishBox {
                :deep(svg) {
                  &:nth-child(1) {
                    animation: fishOut 0.3s ease forwards;
                  }

                  &:nth-child(2) {
                    animation: fishIn 0.3s ease forwards;
                  }

                  * {
                    fill: $mainLight;
                  }
                }
              }
            }
          }

          a {
            display: flex;

            @include rwd1024 {
              flex-direction: column;
              gap: 8px 0;
            }

            .date {
              flex-shrink: 0;
              font-weight: 600;
            }

            .title {
              margin-left: clamp(17.06px, 1.6666vw, 32px);
              width: 100%;
              align-items: center;
              transition: $tc;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;

              @include rwd1024 {
                margin-left: 0;
                -webkit-line-clamp: 3;
              }
            }

            .fishBox {
              @include rwd1024 {
                display: none;
              }
            }
          }
        }
      }

      .remind {
        text-align: right;
      }
    }
  }

  .polluteArea {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(160px, 15.625vw, 300px) clamp(8.53px, 0.8333vw, 16px);
    position: relative;

    @include rwd1024 {
      padding: 740px 24px 40px;
      flex-direction: column;
    }

    &::before {
      background: url("@/assets/images/bg/bg_02.jpg") no-repeat;
      background-size: cover;
    }

    .imgBox {
      aspect-ratio: 1/2;
      border-radius: 45%;
      overflow: hidden;
      position: absolute;
      animation: fly 2s ease-in-out alternate-reverse infinite;

      &:nth-of-type(1) {
        top: clamp(64px, 6.25vw, 120px);
        left: clamp(25.6px, 2.5vw, 48px);
        width: clamp(80px, 7.8125vw, 150px);

        @include rwd1024 {
          top: 80px;
          left: 24px;
          width: 100px;
        }
      }

      &:nth-of-type(2) {
        top: clamp(12.8px, 1.25vw, 24px);
        left: 50%;
        transform: translateX(-50%);
        width: clamp(133.33px, 13.0208vw, 250px);
        animation: flyX-50 2s ease-in-out alternate-reverse infinite;

        @include rwd1024 {
          top: 140px;
          width: 150px;
        }
      }

      &:nth-of-type(3) {
        top: clamp(64px, 6.25vw, 120px);
        right: clamp(25.6px, 2.5vw, 48px);
        width: clamp(106.66px, 10.4166vw, 200px);

        @include rwd1024 {
          top: 30px;
          right: 24px;
          width: 100px;
        }
      }

      &:nth-of-type(4) {
        bottom: clamp(12.8px, 1.25vw, 24px);
        left: clamp(160px, 15.625vw, 300px);
        width: clamp(133.33px, 13.0208vw, 250px);

        @include rwd1024 {
          bottom: auto;
          top: 400px;
          left: 48px;
          width: 120px;
        }
      }

      &:nth-of-type(5) {
        bottom: clamp(38.4px, 3.75vw, 72px);
        right: clamp(133.33px, 13.0208vw, 250px);
        width: clamp(80px, 7.8125vw, 150px);

        @include rwd1024 {
          bottom: auto;
          top: 300px;
          right: 16px;
          width: 120px;
        }
      }

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .pollutePhotoList {
      position: relative;
      width: clamp(266.66px, 26.0416vw, 500px);
      aspect-ratio: 1 / 1.25;

      @include rwd1024 {
        width: calc(300px - 48px);
      }

      li {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #fff;
        padding: clamp(4.26px, 0.4166vw, 8px);

        @include rwd1024 {
          padding: 4px;
        }

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          animation: photoChange 8s ease infinite;
        }

        &:nth-child(1) {
          z-index: 4;
          transform: rotate(5deg);

          &::before {
            background: url("@/assets/images/index/pollute_01.jpg") no-repeat;
            background-size: cover;
          }
        }

        &:nth-child(2) {
          z-index: 3;
          transform: rotate(-7deg);

          &::before {
            background: url("@/assets/images/index/pollute_02.jpg") no-repeat;
            background-size: cover;
            animation-delay: 2s;
          }
        }

        &:nth-child(3) {
          z-index: 2;
          transform: rotate(20deg);

          &::before {
            background: url("@/assets/images/index/pollute_03.jpg") no-repeat;
            background-size: cover;
            animation-delay: 4s;
          }
        }
      }
    }

    > p {
      position: absolute;
      z-index: 10;
      top: 50%;
      transform: translateY(-50%);
      text-shadow: 0 0 8px #fff;
      line-height: 1.75;
      color: $main;

      @include rwd1024 {
        position: static;
        transform: translate(0);
      }
    }

    .title {
      left: clamp(64px, 6.25vw, 120px);
      font-size: $f32;
      font-weight: 600;

      @include rwd1024 {
        font-size: 1.5rem;
        margin-top: 72px;
      }
    }

    .text {
      right: clamp(64px, 6.25vw, 120px);
      width: clamp(266.66px, 26.0416vw, 500px);
      font-size: $f20;
      font-weight: 500;

      @include rwd1024 {
        font-size: 1rem;
        width: 100%;
        margin-top: 16px;
      }
    }
  }

  .actionArea {
    padding: clamp(38.4px, 3.75vw, 72px) clamp(8.53px, 0.8333vw, 16px);

    @include rwd1024 {
      padding: 40px 24px;
    }

    &::before {
      background: url("@/assets/images/bg/bg_03.jpg") no-repeat;
      background-size: cover;
    }

    ul {
      display: flex;
      justify-content: center;
      background: #fff;
      width: fit-content;
      border-radius: clamp(38.4px, 3.75vw, 72px);
      padding: clamp(12.8px, 1.25vw, 24px);
      margin: 0 auto;

      @include rwd1024 {
        border-radius: 16px;
        padding: 16px;
        flex-wrap: wrap;
      }

      li {
        padding: clamp(8.53px, 0.8333vw, 16px);
        border-radius: clamp(17.06px, 1.6666vw, 32px);
        transition: $tb;

        @include rwd1024 {
          padding: 8px;
          border-radius: 32px;
          width: 50%;
        }

        &.focus {
          a {
            color: #fff;
          }
        }

        &:nth-child(1) {
          &.focus {
            background: pink;

            a {
              &::before {
                background: #fff;
              }
            }
          }

          a {
            &::before {
              background: pink;
            }
          }
        }

        &:nth-child(2) {
          &.focus {
            background: green;

            a {
              &::before {
                background: #fff;
              }
            }
          }

          a {
            &::before {
              background: green;
            }
          }
        }

        &:nth-child(3) {
          &.focus {
            background: orange;

            a {
              &::before {
                background: #fff;
              }
            }
          }

          a {
            &::before {
              background: orange;
            }
          }
        }

        &:nth-child(4) {
          &.focus {
            background: blue;

            a {
              &::before {
                background: #fff;
              }
            }
          }

          a {
            &::before {
              background: blue;
            }
          }
        }

        a {
          font-size: $f20;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0 clamp(4.26px, 0.4166vw, 8px);
          transition: $tc;
          font-weight: 500;

          @include rwd1024 {
            font-size: 1.25rem;
            gap: 0 8px;
          }

          &::before {
            content: "";
            display: block;
            width: clamp(4.26px, 0.4166vw, 8px);
            aspect-ratio: 1/1;
            border-radius: 50%;
            transition: $tb;

            @include rwd1024 {
              width: 8px;
            }
          }
        }
      }
    }

    .swiper {
      .swiper-slide {
        width: 80%;

        @include rwd1024 {
          width: 100%;
        }

        &[data-swiper-slide-index="0"] {
          .imgBox {
            .date {
              background: pink;
            }
          }

          .infoBox {
            .title {
              &::before {
                background: pink;
              }
            }
          }
        }

        &[data-swiper-slide-index="1"] {
          .imgBox {
            .date {
              background: green;
            }
          }

          .infoBox {
            .title {
              &::before {
                background: green;
              }
            }
          }
        }

        &[data-swiper-slide-index="2"] {
          .imgBox {
            .date {
              background: orange;
            }
          }

          .infoBox {
            .title {
              &::before {
                background: orange;
              }
            }
          }
        }

        &[data-swiper-slide-index="3"] {
          .imgBox {
            .date {
              background: blue;
            }
          }

          .infoBox {
            .title {
              &::before {
                background: blue;
              }
            }
          }
        }
      }
    }

    .actionBox {
      display: flex;
      padding: clamp(64px, 6.25vw, 120px) clamp(25.6px, 2.5vw, 48px);
      gap: 0 clamp(64px, 6.25vw, 120px);

      @include rwd1024 {
        flex-direction: column;
        align-items: center;
        padding: 48px 0px 0;
        gap: 32px 0;
      }

      .imgBox {
        height: 100%;
        width: clamp(320px, 31.25vw, 600px);
        padding: clamp(4.26px, 0.4166vw, 8px);
        background: #fff;
        position: relative;
        transform: rotate(3deg);
        flex-shrink: 0;

        @include rwd1024 {
          width: calc(100% - 16px);
          padding: 8px;
        }

        .date {
          position: absolute;
          top: clamp(-8.53px, -0.8333vw, -16px);
          left: clamp(12.8px, 1.25vw, 24px);
          color: #fff;
          font-size: $f32;
          padding: clamp(12.8px, 1.25vw, 24px);
          transform: rotate(-3deg);
          font-weight: 600;

          @include rwd1024 {
            top: -8px;
            left: 24px;
            font-size: 1.5rem;
            padding: 14px;
          }
        }
      }

      .infoBox {
        > p {
          color: $main;
          line-height: 1.75;
        }

        .title {
          font-size: $f32;
          font-weight: 600;
          display: flex;
          flex-direction: column;
          gap: clamp(4.26px, 0.4166vw, 8px) 0;

          @include rwd1024 {
            font-size: 1.5rem;
            gap: 8px 0;
          }

          &::before {
            content: "";
            width: clamp(34.13px, 3.3333vw, 64px);
            height: clamp(4.26px, 0.4166vw, 8px);
            border-radius: clamp(4.26px, 0.4166vw, 8px);

            @include rwd1024 {
              width: 48px;
              height: 6px;
              border-radius: 8px;
            }
          }
        }

        .text {
          margin-top: clamp(17.06px, 1.6666vw, 32px);
          font-size: $f20;
          min-height: clamp(149.33px, 14.5833vw, 280px);

          @include rwd1024 {
            margin-top: 20px;
            font-size: 1rem;
            min-height: 140px;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            overflow: hidden;
          }
        }
      }

      .btnBox {
        justify-content: center;

        @include rwd1024 {
          margin-top: 40px;
        }
      }
    }
  }

  .shopArea {
    padding: clamp(64px, 6.25vw, 120px) clamp(25.6px, 2.5vw, 48px);
    display: flex;
    flex-direction: column;

    @include rwd1024 {
      padding: 40px 24px;
    }

    &::before {
      background: url("@/assets/images/bg/bg_04.jpg") no-repeat;
      background-size: cover;
    }

    .title {
      font-size: $f32;
      font-weight: 600;
      text-align: center;
      color: $main;

      @include rwd1024 {
        font-size: 1.5rem;
      }
    }

    .text {
      font-size: $f20;
      font-weight: 500;
      text-align: center;
      width: clamp(640px, 62.5vw, 1200px);
      margin: clamp(17.06px, 1.6666vw, 32px) auto clamp(38.4px, 3.75vw, 72px);
      color: $main;

      @include rwd1024 {
        font-size: 1rem;
        width: 100%;
        text-align: left;
        margin: 16px 0 24px;
      }
    }

    .shopListBox {
      display: flex;
      gap: 0 clamp(8.53px, 0.8333vw, 16px);

      @include rwd1024 {
        gap: 16px 0;
      }

      ul {
        display: flex;
        gap: 0 clamp(8.53px, 0.8333vw, 16px);
        flex-shrink: 0;
        animation: slick 20s infinite linear;

        @include rwd1024 {
          gap: 16px 0;
          animation: none;
          flex-direction: column;
          width: 100%;
        }

        &:not(:first-of-type) {
          @include rwd1024 {
            display: none;
          }
        }

        li {
          background: #fff;
          padding: clamp(8.53px, 0.8333vw, 16px);
          border-radius: clamp(12.8px, 1.25vw, 24px);
          width: clamp(426.66px, 41.6666vw, 800px);
          flex-shrink: 0;

          @include rwd1024 {
            padding: 16px;
            border-radius: 24px;
            width: 100%;
            flex-shrink: unset;
          }

          &:hover {
            a {
              .imgBox {
                &::before {
                  animation: eventHoverIn 0.5s ease forwards;
                }

                img {
                  max-width: none;
                  transform: scale(1.25);
                }
              }
            }
          }

          a {
            display: inline-flex;
            align-items: center;
            gap: 0 clamp(12.8px, 1.25vw, 24px);

            @include rwd1024 {
              gap: 20px 0;
              flex-direction: column;
            }

            .imgBox {
              width: clamp(106.66px, 10.4166vw, 200px);
              aspect-ratio: 1/1;
              border-radius: clamp(8.53px, 0.8333vw, 16px);
              overflow: hidden;
              position: relative;
              flex-shrink: 0;
              display: flex;
              align-items: center;
              justify-content: center;

              @include rwd1024 {
                width: 100%;
                border-radius: 16px;
              }

              &::before {
                content: "";
                display: block;
                width: 100%;
                height: 200%;
                position: absolute;
                background: rgba($mainLight, 0.5);
                border-radius: clamp(32px, 3.125vw, 60px);
                z-index: 10;
                bottom: -100%;
                left: 0;
                animation: eventHoverOut 0.5s ease forwards;

                @include rwd1024 {
                  border-radius: 60px;
                }
              }

              img {
                width: 100%;
                object-fit: contain;
                transition: $ttf5;
              }
            }

            .infoBox {
              display: flex;
              flex-direction: column;
              gap: clamp(12.8px, 1.25vw, 24px) 0;

              @include rwd1024 {
                gap: 16px 0;
              }

              p {
                font-size: $f20;

                @include rwd1024 {
                  font-size: 1.5rem;
                  font-weight: 600;
                }
              }

              span {
                font-size: $f18;
                font-weight: 500;

                @include rwd1024 {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
    }

    .btnBox {
      display: flex;
      justify-content: center;
      margin-top: auto;

      @include rwd1024 {
        margin-top: 40px;
      }
    }
  }
}
