@use "sass:list";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 clamp(21.33px, 2.0833vw, 40px);
  background: #fff;
  box-shadow: 0 0 6px rgba(#000, 0.25);
  height: clamp(48px, 4.6875vw, 90px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  @include rwd1024 {
    padding: 16px 28px;
  }

  &.focus {
    .hamBtn {
      b {
        &:nth-child(1) {
          transform: translate(-50%, -50%) rotate(45deg);
          top: 50%;
          left: 50%;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          width: 100%;
          transform: translate(-50%, -50%) rotate(-45deg);
          top: 50%;
          left: 50%;
        }
      }
    }

    .navList {
      opacity: 1;
      pointer-events: all;
      transform: scaleX(1);
    }
  }

  .logo {
    display: inline-flex;

    img {
      width: clamp(106.66px, 10.4166vw, 200px);

      @include rwd1024 {
        width: 180px;
      }
    }
  }

  .navList {
    display: flex;
    gap: 0 clamp(8.53px, 0.8333vw, 16px);

    @include rwd1024 {
      position: fixed;
      width: 100vw;
      height: calc(100dvh - 70px);
      top: 64px;
      left: 0;
      flex-direction: column;
      align-items: center;
      background: url("@/assets/images/bg/bg_05.jpg") no-repeat;
      background-size: cover;
      gap: 16px 0;
      padding: 24px 0;
      opacity: 0;
      pointer-events: none;
      transform: scaleY(0);
      transform-origin: top;
      transition: $ttf5, $to5;
      z-index: 99;
    }

    li {
      $colorList: (red, pink, orange, green, blue, purple);

      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          a {
            svg {
              * {
                fill: list.nth($colorList, $i);
              }
            }
          }
        }
      }

      a {
        color: $main;
        font-size: $f18;
        font-weight: bold;
        transition: $tc;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(2.13px, 0.2083vw, 4px) 0;

        @include rwd1024 {
          font-size: $f20;
        }

        &:hover {
          color: $mainLight;
        }

        svg {
          height: clamp(12.8px, 1.25vw, 24px);
          width: auto;
        }
      }
    }
  }

  .hamBtn {
    display: none;

    @include rwd1024 {
      width: 24px;
      aspect-ratio: 1/1;
      display: inline-flex;
      position: relative;
    }

    b {
      background: $main;
      border-radius: 4px;
      position: absolute;
      height: 2px;
      right: 0;
      transition: 0.3s ease;

      &:nth-child(1) {
        width: 100%;
        top: 0px;
      }

      &:nth-child(2) {
        width: 50%;
        top: 12px;
      }

      &:nth-child(3) {
        width: 25%;
        top: 24px;
      }
    }
  }
}
